/* Tiny Tweaks */

.columna1 {
    padding: 10px;
    width: 100%;
}

@media (min-width: 600px) {
    .columna1 {
        padding: 20px;
        font-size: 1.5em;
    }
}

@media (min-width: 800px) {
    .columna1 {
        padding: 40px;
        font-size: 2em;
    }
}
.img{
    display: block;
    margin: auto;
    border-top: solid seagreen 20px;
    border-bottom: solid seagreen 20px;
    border-left: solid seagreen 20px;
    border-right: solid seagreen 20px;
    width: 600px;
    height: 400px;
}

.fondo{
    background-color: black;
}
.tit{
    font-family: 'Syne Mono', monospace;
    font-size: 80px;
    text-align: center;
    color: seagreen;
}
.p1{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: seagreen;
    margin-left: 200px;
    margin-right: 200px;
}
.p2{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: seagreen;
}
.p3{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: seagreen;
}
.vid{
    display: block;
    margin: auto;
    width: 600px;
    height: 400px;
}
.youtube{
    display: block;
    margin: auto;
    text-align: center;
}
.a{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: seagreen;
}